<div class="user-details">
  <h1>My Expertise</h1>
  <p>Hi, my name's Effie and I'm a Web Developer. As well as web developer I also have experience as a graphic designer. I have worked at a number of companies gaining teamwork skill.</p></br>
  <h2>Experience</h2>
  <h3>Web Developer | QA auth</h3>
  <h6><i class="fa fa-calendar fa-fw w3-margin-right"></i> Sept 2022 - Current</h6>
  <p>Curently upgrating the website of the qa.auth.gr. The strugle is that there is a huge database with very important information. I am working on this project about one month and until now I learnt Postman Api Plantform and GitLab.</p></br>
  <h3>Graphic Designer | aLearning.gr</h3>
  <h6><i class="fa fa-calendar fa-fw w3-margin-right"></i> Jul 2020 - Feb 2021</h6>
  <p>This was a great project. I had to illustrate books for educational purposes for children with learning disabilities as well as advertisements and social media posts in order to promote the books.</p></br>
  <h3>Junior Web Developer | Click.Solutions</h3>
  <h6><i class="fa fa-calendar fa-fw w3-margin-right"></i> Jan 2019 - Apr 2019</h6>
  <p>During the time I was working for Click Solutions I was developing websites using CMS.</p></br>
  <h2>Education</h2>
  <h3>MSc, Human Computer Interaction | University of Patrs</h3>
  <h6><i class="fa fa-calendar fa-fw w3-margin-right"></i> 2022 - present</h6>
  <p>I just started this program and I am very excited!</p></br>
  <h3>Diploma of Graphic Design for print and electronic media | Institute of Vocational Training Delta 360</h3>
  <h6><i class="fa fa-calendar fa-fw w3-margin-right"></i> 2022 - present</h6>
  <p>During this programm at the Institute od Vocational Delta 360 I developed skills such as drawing, aesthetics, color theory, branding, motion graphics, web design and graphic design. Some of the tools I used are Adobe Photoshop, Adobe Illustrator, Adobe InDesign, Adobe AfterEffects, Adobe Dreamweaver, Adobe Premier, Figma... </p></br>
  <h3>BSc, Computer Science | University Of Ioannina</h3>
  <h6><i class="fa fa-calendar fa-fw w3-margin-right"></i> 2012 - 2018</h6>
  <p>During my studies at the department of computer scence at the Univeristy of Ioannina I had the opportunity to learn about many fields. My favourites were Computer Graphics, Multimedia and Operating Systems.</p></br>

</div>
</div>
